/*#login {
   background: red;
   color: red;
   background-color: red;
}   */

/* .dolar-icon {
    background-image: url("#{facesContext.externalContext.request.contextPath}/resources/imagens/teste.png") !important;}
*/
/*Deixando rodapé fixo*/ 
/*--------------------------------------------------------------------------------*/
html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Lato';
    margin-bottom: 5%;
}

#bottom {
    position: absolute;
    bottom: 2px;
    width: 99%;
    background-color: #6db0c4;
    height: 50px;
    padding: 5px;
    color:  #00153d;
    text-align: center;
    font-family: Calibri;
    font-size: 20px;
    left:0.15%;
}
/*-----------------------------------------------------------------------------*/

.value{
    font-weight: bold;
}

.ui-datatable{
    margin-bottom: 25px
}

.ui-datatable .ui-datatable-footer{
    text-align:left;
}

.ui-datalist ul{
    padding: 0 0 0 10px;
    margin: 5px 0;
}

.ui-datatable .ui-button-icon-only .ui-button-text{
    padding: 0;
    line-height: 1.2;
}

/*centralizando tabelas*/
.ui-datatable .ui-datatable-header {
    text-align: left !important;
}

.center-table{
    text-align: center;
    background-color: red;
}

.mesa{
    border-radius: 10%;
    border: 1px solid black;
    background: greenyellow;
}

/*status mesa*/
/*----------------------------------------------*/
.red{
    background-color:#FF9582;
    background-image:none;
}

.green{
    background-color:#ABEBC6;
    background-image:none;
}
/*-----------------------------------------------------*/

.tela-inicial{

    background: red;
    background-color: red;
    text-align: center;
    color: red;
    vertical-align: top;

}

#inicio{
    background: red;
    color: red;
    background-color: red;
}

/*Menu*/
#top {
    position: relative;
    background-color: #6db0c4;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#logo{
    /*    width:41%;
        position:relative;
        margin-top:0.8%;
        margin-left: 26%;
        margin-bottom: 0.01%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    position:relative;
    margin-top:0.4%;
    /*background-size: 3px 2px;*/
    bottom: 100%;
}

#menu{
    position:relative;
    bottom: 2px;
    margin-right:auto;
    margin-left:auto;
    margin-top: -7px;
    width: 98.85%;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

/*                index
--------------------------------------------------------------------*/
.ui-steps .ui-steps-item {
    width: 24%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}


